<%=form_for(@recommendation) do |f| %>
	<div class="field">
		<p><b>Title</b></p>
		<%=f.text_field :title%>
	</div>
	<div class="field">
		<p><b>Body</b></p>
		<%=f.text_area :body%>
	</div>
	<div class="field">
		<p><b>User</b></p>
		<%=f.hidden_field :user_id, :value=>current_user.id%>
	</div>
	<div class="actions">
		<%= f.submit%>
	</div>
<%end%>	

<div class="error-msg">
	<%if @recommendation.errors.any? %>
	<ul>
		<% @recommendation.errors.full_messages.each do |msg| %>
		<li><%=msg%></li>
		<%end%>
	</ul>
	<%end%>
</div>	

