<%=form_for(@recommendation) do |f| %>
	<div class="field">
		<p>Title</p>
		<%=f.text_field :title%>
	</div>
	<div class="field">
		<p>Body</p>
		<%=f.text_area :body%>
	</div>
	<div class="field">
		<p>User</p>
		<%=f.hidden_field :user_id, :value=>current_user.id%>
	</div>
	<div class="actions">
		<%= f.submit%>
	</div>
<%end%>	
<%=link_to "Return Home", home_index_path%>
